#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
}

.info {
  align-content: left;
  list-style-position: left;
  list-style-type: none;
  margin: 0;
  padding 0;
  text-align: center;
}

.info li {
  font size: 40px;
  text-align: right;
  padding: 0;
}

.nav {
  background-color: #33ccff;
  list-style-type: none;
  margin: 0;
  padding:0;
  text-align: left;   
}

.nav li {
  background-color:#00ace6;
  border-style: outset;
  display: inline-block;
  font size: 100px;
  padding: 10px;
  
}

.audio {
  list-style-type: none;
  margin: 0;
  padding:0;
  text-align: center;
}

.audio li {
  display: inline-block;
  font-size: 100px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black
}

.messages {
  align-content: center;
  display: inline-block;
  list-style-type: none;
}

.messages li {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.messages span {
  flex-grow: 1;
}

.secondary-header {
  font-weight: bold;
  text-align: center;
}

.input-boxes {
  text-align: center;
}

#map {
  border: thin solid black;
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropbtn {
  background-color: rgb(24, 103, 139); 
  border: none;
  color: white;
  padding: 16px;
  font-size: 16px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: rgb(159, 240, 240);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6ab5cc;
}