#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.info {
    list-style-position: left;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding 0;
    align-content: left;
}

.info li {
    text-align: left;
    font size: 30px;
    padding: 0;
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding:0;
}

.nav li {
    display: inline-block;
    font size: 100px;
    padding: 30px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding 50px;
    border: 5px black;
}

.row::after {
    content: "";
    clear: both;
    height = 50px;
    display: table;
    overflow: hidden;
}